<div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>联系人</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">主页</a>
                </li>
                <li>
                    页面
                </li>
                <li>
                    <strong>联系人</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row userListData">
            <div class="col-lg-4" ng-repeat="datas in userData">
                <a href="#/user/userDetail&userList&{{datas.id}}">
                    <div class="contact-box">
                        <div class="col-sm-4">
                            <div class="text-center ImgLay">
                                <img alt="image" class="img-circle m-t-xs img-responsive" ng-src="/uploads/images/{{datas.head_png}}">
                                <div class="m-t-xs font-bold">查看详情</div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                        <h3><strong>{{datas.user_name}}</strong></h3>
                        <p><i class="fa fa-map-marker"></i> {{datas.createdAt | dateFilter}}</p>
                        <address>
                            <strong>其他信息</strong>
                            <br>邮&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp箱：{{datas.email}}
                            <br>最近登陆：{{datas.updatedAt | dateFilter}}
                            <br>
                        <abbr title="Phone">Tel:</abbr> (123) 456-7890
                    </address>
                    </div>
                        <div class="clearfix"></div>

                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="pull-right">
            By：<a href="http://www.zi-han.net" target="_blank">zihan's blog</a>
        </div>
        <div>
            <strong>Copyright</strong> H+ © 2014
        </div>
    </div>

</div>