<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="mobile web app, mobile template, mobile design, mobile app design, mobile app theme, mobile wordpress theme, my mobile app" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link href="styles/style.css"     		 rel="stylesheet" type="text/css">
<title>论坛首页</title>
</head>
<body>
<div class="main">
    <div class="logo"><div class="img"><img src="img/logo.png"></div></div>

    <div id="pageList"></div>
</div>
</body>
<script src="build/bundle.js"></script>
</html>
